h1 {
  colour: black;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}
p {
  color: brown;
  font-size: 15px;
  padding: 10px;
  font-family: monospace;
  margin: auto;
}
.white-background {
  background-color: white;
}
.brown-background {
  background-color: brown;
}
.blue-background {
  background-color: blue;
}
